body {
  background-color: #2B2B2B;
  padding: 20px;
}
h1 {
  display: inline-flex;
  color: #A9B7C7;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

h2 {
  color: #FFBF65;
  font-family: Menlo, sans-serif;
}

p {
  color: #A9B7C7;
  font-family: Menlo, sans-serif;
  font-size: 13px;
  line-height: 1.7;
}
table {
  font-family: Menlo, sans-serif;
  font-size: 12px;
  color: #A9B7C7;
}
ul, li {
  color: #95538E;
  font-family: Menlo, sans-serif;
  font-size: 13px;
  margin: 20px;
}
ul#horizontal-list {
  min-width: 50%;
  list-style: none;
  padding-top: 20px;
  text-align: center;
}
ul#horizontal-list li {
  display: inline-flex;
}
.footer {
  color: #95a3b3;
  font-family: Menlo, sans-serif;
  font-size: 9px;
  text-align: center;
}
